---
const { url, title, image, alt, desc } = Astro.props;
---

<div class="card">
  <div class="image-container">
    <img src={image} alt={alt} />
    <div class="image-overlay">
      <h4 class="card-title">
        <a href={url} class="main-link">{title}</a>
      </h4>
    </div>
  </div>
  <div class="card-content">
    <p>{desc}</p>
  </div>
</div>

<style>
  .card {
    position: relative;
    display: flex;
    flex-direction: column; /*Stack image and text by default*/
    max-width: 280px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*margin-bottom: 24px;*/
  }

  .image-container {
    position: relative; /* Becomes the anchor point for the title */
    display: inline-flex;
    width: 100%;
  }

  .image-container img {
    width: 100%;
    display: block;
  }

  .image-overlay {
    position: absolute;
    bottom: 0; /* Pins it to the bottom */
    left: 0;
    right: 0;
    padding: 20px;
    background: linear-gradient(
      transparent,
      rgba(0, 0, 0, 0.7)
    ); /* Gradient makes text readable */
    color: white;
  }

  .card-title {
    margin: 0;
    font-size: 1.25rem;
  }

  .main-link {
    text-decoration: none;
    color: inherit;
  }

  .card-content {
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
    vertical-align: top;
  }

  /* This expands the title link's clickable area to the full card */
  .main-link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; /* Ensures it sits on top of everything else */
  }
</style>